.wrapper{
    width: 50%;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    margin:10px;
    box-shadow: 2px 2px 5px  5px rgb(67, 68, 67);
    border-radius: 3%;
}

h1{
         font-size:40px;
}

.counter{
    display: flex;
    gap: 80px;
    text-align: center;
    flex-wrap: wrap;
}

.counter h3 {
    width: 130px;
    height: 12vh;
    background-color: rgb(64, 67, 64);
    margin-top: 10px;
    border-radius: 10%;
    padding: 15px;
    box-shadow: 3px 3px rgb(184, 206, 184);
}

.counter h2{
    margin-top: -50px;
    margin-bottom: 30px;
}

textarea{
    width: 80%;
    height: 10vh;
    margin: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 7px;
    padding-left: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
}

.btn button{
    width: 90px;
    gap: 30px;
    margin: 10px;
    color: black;
    font-size: 15px;
    padding: 2px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    box-shadow: 3px 3px rgb(33, 36, 33);
}