*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: 'Arial, Helvetica, sans-serif';
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  background-color: rgb(139, 133, 133);
}